@import "./fonts";

/* ------------------------display---------------------------- */

.iblock {
    display: inline-block !important;
}

.inline {
    display: inline !important;
}

.block {
    display: block !important;
}
